<h2>Artists</h2>

<ul>
  <% @artists.each do |artist| %>
    <li>
        <a href="/artists/<%= artist.id %>">
        <%= artist.name %></a>
    </li>
  <% end %>
</ul>

<div class="new_artist">
<a href="/artists/new">Add a New Artist</a>
</div>
