<h2>Add New Artist</h2>
<form method="post" action="/artists/">
  <label>Artist's Full Name:</label>
    <input type="text" placeholder="Full Name"/>
  <label>Artist's Nationality:</label>
  <input type="text" placeholder="Nationality"/>
  <label>Add Artist's Picture:</label>
  <input type="url" placeholder="paste url"/>
  <button class="submit_new_artist">Submit</button>
</form>
